<%- include("partials/header") %>
<h1>
	 This is the home page!
</h1>

<img src="https://image.shutterstock.com/z/stock-vector-construction-machinery-and-heavy-machinery-1259302435.jpg">

<%- include("partials/footer") %>