<%- include("partials/header") %>

<h1>
	You fell in love with: <%= thingVar.toUpperCase() %>
</h1>

<% if (thingVar.toLowerCase() === "wei") { %>
	<p>Bad choice.  He is too fat!</p>
<% } else { %>
	<p>Good choice.  You did not choose wei!</p>
<% } %>

<p>
	P.s. this is the love.ejs file!
</p>

<%- include("partials/footer") %>