h1 {
	color: #FF00DD;
	
	background:pink;
/*
	border-color: purple;
	border-width: 5px;
	border-style: solid;*/

	border: 5px solid purple;
}


li {
	color: rgb(10,155,100);
}
h4 {
	color: rgba(10,155,100,.6);
}
body {
	/*background:pink;*/
	background:url(https://image.shutterstock.com/z/stock-vector-set-of-funny-construction-transport-creative-kids-graphic-vector-hand-drawn-illustration-1436460128.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
