<!DOCTYPE html>
<html>
<head>
	<title>Demo App</title>
	<link rel="stylesheet" href="/app.css">
	
</head>
<body>
	
	<p>
		fallinlovewith is a subfolder, therefore, cannot find app.css from fallinlovewith `/ ` told it to look at in the root folder with public
	</p>
